/* .lb,
.text {
  width: 100% !important;
}

@media screen and (max-width: 768px) {
  .lb,
  .text {
    width: 100% !important;
  }
}

@media screen and (max-width: 576px) {
  .lb,
  .text {
    width: 100% !important;
  }
} */
